<!DOCTYPE html>
<html ng-app="climaApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
        AngularJS ClimApp
        </title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">    
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script>
        document.write('<base href="‘ + document.location + ‘" />');
        </script>
        <link rel="stylesheet" href="./public/css/style.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.5/angular.min.js">
        </script>

        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        <script src="./public/js/app.js"></script>
    </head> 
    <body class="container-fluid" ng-controller="mainCtrl">
        <div class="main-div jumbotron">
            <div class="col-sm-12">
                <h1 class="display-3 title-app text-center">
                    ClimApp
                </h1>
                <form>
                    <div class="form-group col-centered justify-content-center row">
                        <div class="col-sm-10" style="padding: 0px;">
                            <input class="form-control" type="text" ng-model="city" placeholder="e.g. Buenos Aires" />
                        </div>
                        <div class="col-sm-1 text-center"  style="padding: 0px;">
                            <button class="btn btn-primary btn-block" type="submit" value="Search" ng-click="findClima(city)"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </form>
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="container-info">
                        <h1 class="lead" ng-show="city">
                            Buscando el pronóstico para: {{city}}
                        </h1>
                        <div class="h-100 justify-content-center align-items-center">
                            <div class="col-xs-12">
                                <h1 class="lead name-city">
                                    Pronóstico para {{ place.city.name}}
                                </h1>
                            </div>
                            <div class="col-xs-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4>
                                            <img ng-if="place.list[0].weather[0].icon" class="mx-auto d-block forecast-img" ng-src="http://openweathermap.org/img/w/{{place.list[0].weather[0].icon}}.png" />
                                        </h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="info-clima">
                                            <p class="text-center">
                                                <span> Temperatura: {{ place.list[0].main.temp }}° C </span></br>
                                                <span> Humedad: {{ place.list[0].main.humidity }} % </span></br>
                                                <span> Temperatura Min.: {{ place.list[0].main.temp_min }}° C </span></br>
                                                <span> Temperatura Max.: {{ place.list[0].main.temp_max }}° C </span>
                                            </p>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>