.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

div.main-div{
    margin-top: 0px;
    margin-bottom: 0px; 
}

.hr{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.title-app{
    color: #FAFAFA;
    font-weight: 700;
    margin-bottom: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #90caf9;
    border-color: #fafafa;
    border-width: 1.5px;
}

.btn-primary:hover {
    color: #90caf9;
    background-color: #fafafa;
    border-color: #90caf9;
}

.container-info{
    background-color: #fafafa;
    border-radius: 3%;
    border: 1.5px solid #9E9E9E;
    margin-top: 20px;
    padding: 25px 25px;
    max-width: max-content;
}

.btn-primary:focus {
    color: #90caf9;
    background-color: #fafafa;
    border-color: #90caf9;
    box-shadow: none;
}

h1.title-app{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-stretch: semi-expanded;
}

div.info-clima > p > span{
    color: #424242;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

h1.lead{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #424242;
    font-weight: 500;
}

.jumbotron{
    background-color: #90CAF9;
}

html{
    background: #90CAF9;
}